# Toronto Notebook Two

Joining the Latitude and Longitude coordinates with the Postal Codes.

**Import Necessary Libraries**

In [1]:
# Import Modules and Libraries

import pandas as pd
import numpy as np

**Load Dataframe from previous Notebook**

In [98]:
# Load the dataframe of previous Notebook

import types
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

client_user = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='[my_api_key_id]',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_user.get_object(Bucket='courseracapstone-donotdelete-pr-ripowas1krmth2',Key='Toronto_SegClass.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df = pd.read_csv(body)
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

**Load Dataframe of Geospatial Coordinates**

In [72]:
# Load the dataframe of Geospatial_Coordinates

body = client_user.get_object(Bucket='courseracapstone-donotdelete-pr-ripowas1krmth2',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_coord = pd.read_csv(body)
df_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

**Join both Dataframes on Matching Indexes**

The Geospatial Dataframe doesn't quite match directly with my dataframe, by index. So I'll have to bypass that constraint by matching the LatLong Coordinates by matching Postal Codes between both dataframes

In [117]:
# First, let's create the Columns
# for the first dataframe, "df"

# Initialize new columns (or labels) as float
df['Latitude'] = 0.0
df['Longitude'] = 0.0

# Show dataframe and label data-types
print(df.dtypes)
df.head()

Postal Code       object
Borough           object
Neighbourhood     object
Latitude         float64
Longitude        float64
dtype: object

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,0.0,0.0
1,M4A,North York,Victoria Village,0.0,0.0
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",0.0,0.0
3,M6A,North York,"Lawrence Manor, Lawrence Heights",0.0,0.0
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",0.0,0.0

In [122]:
# Secondly, we iterate through "df_coord" dataframe,
# to find marching Postal Codes with "df"
# Then we update df with the respective Latitude and Logitude values

for index in range(0, len(df_coord)):
    
    # Get the Latitude and Longitude values,
    # and tracking Postal-Code
    lat = df_coord.iloc[index]['Latitude']
    lng = df_coord.iloc[index]['Longitude']
    posCod = df_coord.iloc[index]['Postal Code']
    
    # Use "loc" to update Latitude and Longitude values of df
    df_row_index = df[df['Postal Code'] == posCod].index
    df.loc[df_row_index, ['Latitude', 'Longitude']] = lat, lng

print('This is the final deliverable')
df.head(11)

This is the final deliverable

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073

In [121]:
# Save the dataframe as "csv" for future use
df.to_csv("Toronto_SegClass_two.csv")